
@font-face {
  font-family: 'Source Code Pro VF';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(/fonts/SourceCodeVF-Upright.otf.woff2) format('woff2');
}

@font-face {
  font-family: 'D-Din';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(/fonts/D-DIN.woff2) format('woff2');
}
